.brownie-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.brownies {
    width: 30%;
    margin-right: 10px;
}

.brownieScore {
    font-size: 24px;
}



.btn {
    background-color: #411900;
    width: 10%;
    border: #FFFDD0, 2px, solid;
    border-radius: 5px;
    font: bold;
    color: #FFFDD0;

}

.btn:hover{
    background-color: #FFFDD0;
    color: #411900;
    border: #411900, 2px, solid;
}

.ticketAligner{
    position: absolute;
    top: 10px;          
    right: 10px;        
    width: 50%;
}

.redeemBox {
    border: black 2px solid;
    border-radius: 5px;
    background-color: beige;
    padding: 10px;
    margin-top: 2px;
    display: flex;
    align-items: center; /* Vertically aligns items */
    justify-content: space-between; /* Pushes the image to the right */
    width: 95%; /* Ensure it takes full width */
}




.redeemerImage {
    width: 20%;
    height: auto;
    margin-left: 10px; /* Adds space between the text/button and the image */
}